<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dileep.secondproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecondProject">
        <activity android:name=".AlarmManager.AlarmScreen"></activity>
        <activity android:name=".DummyView" />
        <activity android:name=".MaterialUI.HomeActivity" />
        <activity android:name=".MaterialUI.SignupForm" />
        <activity android:name=".RecyclerViewFlow.UsersListActivity" />
        <activity android:name=".TabLayout.TabExample" />
        <activity android:name=".RecyclerViewFlow.RecyclerList" />
        <activity android:name=".CameraPackage.SampleCamera" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupPage" />
        <activity android:name=".DateTime.DateAndTimeActivity" />
        <activity android:name=".DateTime.DigitalAndAnalogActivity" />
        <activity android:name=".DateTime.TimeActivity" />
        <activity android:name=".DateTime.DateActivity" />
        <activity android:name=".DateTime.AnalogDigital" />
        <activity android:name=".ImageLoaders.LoadImage" />
        <activity android:name=".RatingBarsPackage.RatingBarExample" />
        <activity android:name=".ListViewPackage.ActivityList" />
        <activity android:name=".ListViewExample" />
        <activity android:name=".ClassSixDemo" />
        <activity android:name=".SMSActivity" />
        <activity android:name=".SencondActivity" />
        <activity android:name=".MaterialUI.MaterialUIExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmManager.BroadCastRecieverCustome"/>
    </application>

</manifest>